<header>
    <img src="assets/img/user.png" alt="foto de perfil" width="128px" height="128px" loading="eager">
    <h1>Caio Pratali</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack (Angular | Java)</p>
        <p>Santos/SP - Brasil</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, accusantium officiis! Exercitationem, 
            ullam alias amet ut atque quos animi architecto repellat possimus perferendis.
        </p>

        <nav>
            <ul>
                <li><a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Download CV</a></li>
                <li><a href="#" target="_blank" class="btn btn-secondary">LinkedIn</a></li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Icone para contato do Whatsapp" width="22px" height="24px">
                <figcaption>
                    <a href="#" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>Whatsapp: (00) 0 0000-0000</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/icons/mail.svg" alt="Icone para contato do e-mail" width="22px" height="24px">
                <figcaption>
                    <a href="#" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>contato&#64;exemplo.com.br</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>